.chatBotContainer {
    width: 20rem;
    height: 30rem;
    background-color: rgb(230, 230, 214);
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 3.5rem auto 3.5rem;
}

.chatBotContainer > div {

}

.chatBotContainer > div:nth-child(1), .chatBotContainer > div:nth-child(3) {
    display: flex;
    align-items: center;
    padding: 0 .7rem;
}

.chatBotContainer > div:nth-child(1) {
    box-shadow:var(--shadow);
}

.chatBotContainer > div:nth-child(3) {
    justify-content: space-between;
}

.chatBotContainer > div:nth-child(1) img {
    width: 2.5rem;
    height: auto;
    border-radius: 100%;
    margin-right: .5rem;
}

.chatBotContainer > div:nth-child(3) img:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.211);
}

.chatBotContainer > div:nth-child(3) img {
    width: 2.4rem;
    height: auto;
    border-radius: 100%;
    padding: .3rem;
}

.chatBotContainer > div:nth-child(2) > div {
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width:100%;
    padding:0 10px;
}

.chatBotContainer > div:nth-child(2) {
    overflow-y: scroll;
}

.chatBotContainer > div:nth-child(1) p {
    color: var(--text);
    position: relative;
    font-size: 1rem;
    font-weight: bold;
}

.chatBotContainer input {
    width: 16rem;
    height:2.5rem;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: .8rem;
    border-radius: 1rem;
}